body {
  transition: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h2 {
  background: rgb(29, 29, 29);
  color: rgb(233, 233, 233);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.376);
}
