body {
  min-height: 100vh;
  background: url("./bg.jpg") center/cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background: #ff5242;
  padding: 32px 50px;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 150px;
  position: relative;
  overflow: hidden;
}
button::after {
  content: "";
  background: radial-gradient(
    circle closest-side,
    rgb(255, 219, 59),
    transparent
  );
  position: absolute;
  height: 280px;
  width: 280px;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease;
  top: var(--y);
  left: var(--x);
}
button:hover::after {
  transform: translate(-50%, -50%) scale(1);
}
span {
  z-index: 10;
  position: relative;
  pointer-events: none;
}
