* {
  margin: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
h1 {
  margin: 20px 0 30px;
}
.search-container {
  margin: 0 auto;
  text-align: center;
}
button {
  background: rgb(250, 77, 77);
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
#app {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}
.card {
  flex: 1 0 20%;
  min-width: 200px;
  max-width: 450px;
  margin: 10px;
  padding: 20px 20px 0;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(51, 51, 51, 0.192);
  position: relative;
  min-height: 260px;
  display: grid;
  overflow: hidden;
}
img {
  border-radius: 150px;
  margin: 4px auto 0;
  height: 100px;
  display: block;
  box-shadow: 0 2px 6px rgba(51, 51, 51, 0.652);
  z-index: 2;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
em,
p {
  font-size: 0.9rem;
}
