* {
  margin: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
h1 {
  margin: 20px 0 30px;
}
button {
  background: rgb(238, 91, 91);
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
#appDisplay {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 90%;
}
.card {
  flex: 1 0 20%;
  min-width: 200px;
  max-width: 450px;
  margin: 10px;
  padding: 20px 20px 0;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.267);
  min-height: 280px;
  display: grid;
}
img {
  border-radius: 150px;
  margin: 4px auto 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.267);
}
h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
p,
em {
  font-size: 0.9rem;
}
