.countries-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.card {
  flex: 1 0 25%;
  min-width: 300px;
  border: 1px solid grey;
  padding: 20px;
  margin: 5px;
}

img {
  height: 100px;
  width: 160px;
  object-fit: cover;
}
