.circle {
  border-radius: 150px;
  border: 2px solid salmon;
  position: absolute;
  transform: translate(-50%, -50%);
}
.c1 {
  height: 20px;
  width: 20px;
  transition: 120ms ease-out;
}
.c2 {
  height: 30px;
  width: 30px;
  transition: 260ms ease-out;
}
.c3 {
  height: 45px;
  width: 45px;
  transition: 360ms ease-out;
}
