body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lucida Sans";
  font-size: 2rem;
}
.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas:
    "input1 input1 result result"
    "input2 input2 result result"
    "add sub time div";
  gap: 5px;
  width: 80%;
  min-width: 350px;
  max-width: 600px;
}
#number1 {
  grid-area: input1;
}
#number2 {
  grid-area: input2;
}
input[type="number"] {
  text-align: center;
  font-size: 2rem;
}
#result {
  grid-area: result;
  border: 1px solid grey;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  font-size: 2rem;
}
