body {
  min-height: 100vh;
  overflow: hidden;
}
body > div {
  border-radius: 150px;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 3px solid salmon;
}
#circle1 {
  height: 20px;
  width: 20px;
}
#circle2 {
  height: 40px;
  width: 40px;
  transition: 240ms;
}
#circle3 {
  height: 60px;
  width: 60px;
  transition: 360ms;
}
