.popup {
  position: fixed;
  background: teal;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  right: -300px;
  transition: 0.6s ease;
}
h1 {
  user-select: none;
}
#main-img {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
}
.active {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: pink;
  border: teal 3px solid;
  border-radius: 30px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0) rotate(180deg);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
p::selection {
  background: pink;
}
