body {
  transition: 0.3s;
  height: 200vh;
}
.popup {
  position: fixed;
  background: teal;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  right: -300px;
  transition: 0.6s ease;
}
.theme-container {
  position: absolute;
  top: 10px;
  right: 10px;
}
#dark {
  background: black;
}
#lime {
  background: lime;
}
#peru {
  background: peru;
}
.theme {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 30px;
}
.dark-theme {
  background: rgb(17, 17, 17);
  color: rgb(248, 248, 248);
}
.lime-theme {
  background: lime;
  color: black;
}
.peru-theme {
  background: peru;
  color: white;
}
h1 {
  user-select: none;
}
#main-img {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
}

.active {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: pink;
  border: teal 3px solid;
  border-radius: 30px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0) rotate(180deg);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
p::selection {
  background: pink;
}
