* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: brown;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.app {
  width: 80%;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  background: rgb(251, 144, 144);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.342);
  position: relative;

  h3 {
    text-transform: uppercase;
  }
  ul {
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      width: 45%;
      padding: 20px;
      margin: 5px;
      border-radius: 4px;
      background: brown;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        background: rgb(240, 113, 113);
      }
    }
  }
  h5 {
    margin: 20px 0;
    font-size: 1.2rem;
  }
  #result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    &.true {
      background: rgba(0, 128, 0, 0.603);
      z-index: 100;
    }
    &.false {
      background: rgba(255, 0, 0, 0.493);
      z-index: 100;
    }
  }
}
