body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-family: cursive;
}
.card {
  flex: 1 0 25%;
  min-width: 350px;
  border: 2px solid skyblue;
  padding: 10px;
  margin: 4px;
}
img {
  border-radius: 300px;
}
