* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background: #212040;
  color: rgb(246, 246, 246);
}
.movie-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-card {
  flex: 1 0 25%;
  min-width: 240px;
  max-width: 300px;
  border: 2px solid white;
  margin: 5px;
  padding: 10px;
}
img {
  height: 300px;
  margin: 0 auto;
  display: block;
  border-radius: 30px;
  box-shadow: 0 8px 1px rgba(255, 255, 255, 0.1),
    0 16px 1px rgba(255, 255, 255, 0.05);
}
p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-align: justify;
}
