* {
  border-radius: 30px;
  padding: 15px;
  text-align: center;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  transition: 0.3s;
}
p {
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  transform: translateX(-200px);
}
.animated .show,
.show {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.animated img {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateX(200px);
}
/* .mouse-event {
  border: 4px solid skyblue;
  width: 200px;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%, -50%);
} */

.theme-container {
  position: fixed;
  top: 10px;
}
.theme {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
#dark {
  background: black;
}
#yellow {
  background: yellow;
}
#green {
  background: green;
}
.dark-theme {
  background: black;
  color: white;
}
.yellow-theme {
  background: yellow;
}
.green-theme {
  background: green;
}
