body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  background: url(https://picsum.photos/1400/1000) center/cover;
  overflow: hidden;
}
.quote {
  width: 50%;
  margin: 0 auto;
  background: rgba(159, 238, 252, 0.544);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.144);
  transition: 0.4s;
  cursor: pointer;
  backdrop-filter: blur(4px);
}
.quote:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.24);
}
p {
  margin: 0;
}
em {
  margin-top: 20px;
  display: block;
  text-align: right;
}
